# Conexões com Bancos de Dados NoSQL e SQL em Python com Pandas e Jupyter Notebook

In [1]:
# Primeiro Contato com Banco NOSQL MongoDB

# MongoDB

In [2]:
# Instalador PyMongo
!pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages (3.12.0)

In [3]:
import pandas as pd

# Importando o Módulo PyMongo
import pymongo

In [4]:
# Criando a Conexão com o PyMongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [5]:
# Ler e Armazenando o Banco/Documento e a Collection em Variáveis

mydb = myclient["local"]
mycol = mydb["startup_log"]

In [8]:
# retorna todos os registros da collection

for x in mycol.find():
    print(x)

{'_id': 'NOTE-RRL-BRASIL-1630273261434', 'hostname': 'NOTE-RRL-BRASIL', 'startTime': datetime.datetime(2021, 8, 29, 21, 41, 1), 'startTimeLocal': 'Sun Aug 29 18:41:01.434', 'cmdLine': {'config': 'C:\\Program Files\\MongoDB\\Server\\5.0\\bin\\mongod.cfg', 'net': {'bindIp': '127.0.0.1', 'port': 27017}, 'service': True, 'storage': {'dbPath': 'C:\\Program Files\\MongoDB\\Server\\5.0\\data', 'journal': {'enabled': True}}, 'systemLog': {'destination': 'file', 'logAppend': True, 'path': 'C:\\Program Files\\MongoDB\\Server\\5.0\\log\\mongod.log'}}, 'pid': 5428, 'buildinfo': {'version': '5.0.2', 'gitVersion': '6d9ec525e78465dcecadcff99cce953d380fedc8', 'targetMinOS': 'Windows 7/Windows Server 2008 R2', 'modules': [], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [5, 0, 2, 0], 'openssl': {'running': 'Windows SChannel'}, 'buildEnvironment': {'distmod': 'windows', 'distarch': 'x86_64', 'cc': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64', 'ccflags': '/nologo /WX /FImongo/platform/basic.h /EHsc /W3 /wd4068 /wd4244 /wd4267 /wd4290 /wd4351 /wd4355 /wd4373 /wd4800 /wd4251 /wd4291 /we4013 /we4099 /we4930 /errorReport:none /MD /O2 /Oy- /bigobj /utf-8 /permissive- /Zc:__cplusplus /Zc:sizedDealloc /volatile:iso /diagnostics:caret /std:c++17 /Gw /Gy /Zc:inline', 'cxx': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64', 'cxxflags': '/TP', 'linkflags': '/nologo /DEBUG /INCREMENTAL:NO /LARGEADDRESSAWARE /OPT:REF', 'target_arch': 'x86_64', 'target_os': 'windows', 'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE_STATIC NDEBUG BOOST_ALL_NO_LIB _UNICODE UNICODE _SILENCE_CXX17_ALLOCATOR_VOID_DEPRECATION_WARNING _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING _SILENCE_CXX17_CODECVT_HEADER_DEPRECATION_WARNING _CONSOLE _CRT_SECURE_NO_WARNINGS _SCL_SECURE_NO_WARNINGS _WIN32_WINNT 0x0A00 BOOST_USE_WINAPI_VERSION 0x0A00 NTDDI_VERSION 0x0A000000 BOOST_THREAD_VERSION 5 BOOST_THREAD_USES_DATETIME BOOST_SYSTEM_NO_DEPRECATED BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR ABSL_FORCE_ALIGNED_ACCESS'}, 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'wiredTiger']}}
{'_id': 'NOTE-RRL-BRASIL-1631325399887', 'hostname': 'NOTE-RRL-BRASIL', 'startTime': datetime.datetime(2021, 9, 11, 1, 56, 39), 'startTimeLocal': 'Fri Sep 10 22:56:39.887', 'cmdLine': {'config': 'C:\\Program Files\\MongoDB\\Server\\5.0\\bin\\mongod.cfg', 'net': {'bindIp': '127.0.0.1', 'port': 27017}, 'service': True, 'storage': {'dbPath': 'C:\\Program Files\\MongoDB\\Server\\5.0\\data', 'journal': {'enabled': True}}, 'systemLog': {'destination': 'file', 'logAppend': True, 'path': 'C:\\Program Files\\MongoDB\\Server\\5.0\\log\\mongod.log'}}, 'pid': 9880, 'buildinfo': {'version': '5.0.2', 'gitVersion': '6d9ec525e78465dcecadcff99cce953d380fedc8', 'targetMinOS': 'Windows 7/Windows Server 2008 R2', 'modules': [], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [5, 0, 2, 0], 'openssl': {'running': 'Windows SChannel'}, 'buildEnvironment': {'distmod': 'windows', 'distarch': 'x86_64', 'cc': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64', 'ccflags': '/nologo /WX /FImongo/platform/basic.h /EHsc /W3 /wd4068 /wd4244 /wd4267 /wd4290 /wd4351 /wd4355 /wd4373 /wd4800 /wd4251 /wd4291 /we4013 /we4099 /we4930 /errorReport:none /MD /O2 /Oy- /bigobj /utf-8 /permissive- /Zc:__cplusplus /Zc:sizedDealloc /volatile:iso /diagnostics:caret /std:c++17 /Gw /Gy /Zc:inline', 'cxx': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64', 'cxxflags': '/TP', 'linkflags': '/nologo /DEBUG /INCREMENTAL:NO /LARGEADDRESSAWARE /OPT:REF', 'target_arch': 'x86_64', 'target_os': 'windows', 'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE_STATIC NDEBUG BOOST_ALL_NO_LIB _UNICODE UNICODE _SILENCE_CXX17_ALLOCATOR_VOID_DEPRECATION_WARNING _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING _SILENCE_CXX17_CODECVT_HEADER_DEPRECATION_WARNING _CONSOLE _CRT_SECURE_NO_WARNINGS _SCL_SECURE_NO_WARNINGS _WIN32_WINNT 0x0A00 BOOST_USE_WINAPI_VERSION 0x0A00 NTDDI_VERSION 0x0A000000 BOOST_THREAD_VERSION 5 BOOST_THREAD_USES_DATETIME BOOST_SYSTEM_NO_DEPRECATED BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR ABSL_FORCE_ALIGNED_ACCESS'}, 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'wiredTiger']}}

In [9]:
# Retorna apenas as informações de Item e Quantidade

for x in mycol.find({}, {"_id":"JPAD278145-1572610091103", "hostname":"JPAD278145", "pid":15264}):
    print(x)

{'pid': 5428, '_id': 'JPAD278145-1572610091103', 'hostname': 'JPAD278145'}
{'pid': 9880, '_id': 'JPAD278145-1572610091103', 'hostname': 'JPAD278145'}

In [10]:
# Retorna apenas o Item com pid 15264

myquery = {"pid":15264}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

In [11]:
df_mongo = pd.DataFrame(list(mycol.find()))

In [12]:
df_mongo.head()

,_id,hostname,startTime,startTimeLocal,cmdLine,pid,buildinfo
0,NOTE-RRL-BRASIL-1630273261434,NOTE-RRL-BRASIL,2021-08-29 21:41:01,Sun Aug 29 18:41:01.434,{'config': 'C:\Program Files\MongoDB\Server\5....,5428,"{'version': '5.0.2', 'gitVersion': '6d9ec525e7..."
1,NOTE-RRL-BRASIL-1631325399887,NOTE-RRL-BRASIL,2021-09-11 01:56:39,Fri Sep 10 22:56:39.887,{'config': 'C:\Program Files\MongoDB\Server\5....,9880,"{'version': '5.0.2', 'gitVersion': '6d9ec525e7..."

# Mysql

In [10]:
# Instalando os Pacotes - Mysql
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [13]:
# Importar Módulo pandas
import pandas as pd

# importar o módulo pymysql
import pymysql

# converter do pymysql para o Mysql
pymysql.install_as_MySQLdb()

#import mysql.connector
import MySQLdb

In [12]:
# Configurações paa MYSQL connection

In [13]:
db = MySQLdb.connect(
    host="localhost",
    user="root",
    password="Ric@72255560",
    database="dbclassificados"
)

# Cricar um objeto cursor. Isso permitirá que você execute todas as consultas necessárias
cur = db.cursor()

# Selecionar o que retornar todos os dados da tabela.
cur.execute("SELECT * FROM dbclassificados.tipoanuncio")


#Fechar a conexão.
db.close()

In [14]:
# Converter os dados para DATAFRAME
tb_cliente_mysql = pd.DataFrame(cur.fetchall())

# Visualizar os dados do DATAFRAME
tb_cliente_mysql.head()

#Adicionar o nome para as colunas

tb_cliente_mysql = tb_cliente_mysql.rename(columns={
                                                    0: 'codigo_tipoanuncio',
                                                    1: 'Descricao_Tipo'
                                                })


# Visualizar os dados com as colunas renomeadas

tb_cliente_mysql.head()

   codigo_tipoanuncio  Descricao_Tipo    2
0                   1          Imovel  150
1                   2    Computadores   45
2                   3        Pendrive   45
3                   4  Placa de V?deo   57
4                   5        Hardware  323

# PostgresSQL

In [15]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.1-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.1

In [18]:
import pandas as pd
import psycopg2 as psy

In [19]:
PGHOST = 'localhost'
PGDATABASE = 'dvdrental'
PGUSER = 'postgres'
PGPASSWORD = '72255560'
port = '5432'

# Configuração para conexão com o SGBD Postgresql

conn_string = "host="+ PGHOST \
            +" port="+ port \
            +" dbname="+ PGDATABASE \
            +" user="+ PGUSER \
            +" password="+ PGPASSWORD

conn = psy.connect(conn_string)

# Selecionar os dados que estão retornando da tabela do banco..
tb_cliente_postgres = pd.read_sql_query(''' SELECT * FROM actor''', conn)

# Fecha a Conexão com o Banco..
conn.close()

In [20]:
tb_cliente_postgres.head()

   actor_id first_name     last_name               last_update
0         1   PENELOPE       GUINESS 2020-02-15 09:34:33+00:00
1         2       NICK      WAHLBERG 2020-02-15 09:34:33+00:00
2         3         ED         CHASE 2020-02-15 09:34:33+00:00
3         4   JENNIFER         DAVIS 2020-02-15 09:34:33+00:00
4         5     JOHNNY  LOLLOBRIGIDA 2020-02-15 09:34:33+00:00

In [22]:
tb_cliente_postgres.tail()

     actor_id first_name last_name               last_update
195       196       BELA    WALKEN 2020-02-15 09:34:33+00:00
196       197      REESE      WEST 2020-02-15 09:34:33+00:00
197       198       MARY    KEITEL 2020-02-15 09:34:33+00:00
198       199      JULIA   FAWCETT 2020-02-15 09:34:33+00:00
199       200      THORA    TEMPLE 2020-02-15 09:34:33+00:00

In [ ]:
# Fim..